@using Stubbl.Identity.Models.ManageExternalLogins

@model ManageExternalLoginsViewModel

<div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="page-header">
            <h1 class="mb-5 display-4">
                Manage external logins
            </h1>
        </div>
        @foreach (var currentLogin in Model.CurrentLogins)
        {
            <div class="row mb-3">
                <div class="col">
                    <i class="fa fa-@currentLogin.LoginProvider.ToLower()"></i> @currentLogin.ProviderDisplayName
                </div>
                <div class="col text-right">
                    <form asp-route="UnlinkExternalLogin" method="post">
                        <input asp-for="@currentLogin.LoginProvider" name="LoginProvider" type="hidden" />
                        <input asp-for="@currentLogin.ProviderKey" name="ProviderKey" type="hidden" />
                        <button type="submit" class="btn btn-danger btn-sm" title="Remove this @currentLogin.LoginProvider login from your account" @(!Model.AllowRemoval ? "disabled" : "")>
                            Remove
                        </button>
                    </form>
                </div>
            </div>
        }
        @if (Model.CurrentLogins.Any() && Model.OtherLogins.Any())
        {
            <hr />
        }
        <form asp-route="LinkExternalLogin" method="post">
            @foreach (var otherLogin in Model.OtherLogins)
            {
                <div class="row mb-3">
                    <div class="col">
                        <i class="fa fa-@otherLogin.Name.ToLower()"></i> @otherLogin.DisplayName
                    </div>
                    <div class="col text-right">
                        <button type="submit" class="btn btn-success btn-sm" name="loginProvider" value="@otherLogin.Name" title="Log in using your @otherLogin.DisplayName account">
                            Add
                        </button>
                    </div>
                </div>
            }
        </form>

        <div class="form-group">
            <a asp-route="Home" class="btn btn-link btn-block">Cancel</a>
        </div>
    </div>
</div>
