@using Stubbl.Identity.Models.Home

@model HomeViewModel

<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
        <div class="page-header">
            <h2 class="mb-5 display-4">
                Your Info
            </h2>
        </div>

        <div class="row">
            <div class="col-4 col-sm-3">
                <img class="img-fluid rounded-circle mb-3" asp-gravatar-emailaddress="@Model.EmailAddress" asp-gravatar-size="500" />
            </div>
            <div class="col-sm-9">
                <h3>
                    @Model.FirstName @Model.LastName
                </h3>

                <div>
                    <i class="fa fa-envelope"></i> @Model.EmailAddress
                </div>

                <hr />

                <ul class="list-unstyled">
                    <li>
                        <a asp-route="ChangeEmailAddress">Change email address</a>
                    </li>

                    <li>
                        @if (Model.HasPassword)
                        {
                            <a asp-route="ChangePassword">Change password</a>
                        }
                        else
                        {
                            <a asp-route="AddPassword">Add password</a>
                        }
                    </li>

                    <li>
                        <a asp-route="ManageExternalLogins">Manage external logins (@Model.LoginsCount)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
