@using Stubbl.Identity.Models.Home

@model HomeViewModel

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="page-header">
            <h2 class="mb-5 display-4">
                Your Info
            </h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="rounded-circle" asp-gravatar-emailaddress="@Model.EmailAddress" asp-gravatar-size="200" />
            </div>
            <div class="col-md-6">
                <h3>
                    @Model.FirstName @Model.LastName
                </h3>

                <div>
                    <i class="fa fa-envelope"></i> @Model.EmailAddress
                </div>

                <hr />

                <div>
                    <a asp-route="ChangeEmailAddress">Change email address</a>
                </div>

                <div>
                    @if (Model.HasPassword)
                    {
                        <a asp-route="ChangePassword">Change password</a>
                    }
                    else
                    {
                        <a asp-route="AddPassword">Add password</a>
                    }
                </div>

                <div>
                    <a asp-route="ManageExternalLogins">Manage external logins (@Model.LoginsCount)</a>
                </div>
            </div>
        </div>
    </div>
</div>
