@using Stubbl.Identity.Models.Login

@model LoginViewModel

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="page-header">
            <h2 class="mb-5 display-4">
                Log in
            </h2>
        </div>

        <div class="row">
            @if (Model.LoginProviders.Any())
            {
                <div class="col-md-5 mb-4">
                    <section>
                        <form asp-route="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div>
                                @foreach (var loginProvider in Model.LoginProviders)
                                {
                                    <button type="submit" class="btn btn-lg btn-default btn-block btn-@loginProvider.Name.ToLower()" name="provider" value="@loginProvider.Name" title="Log in using your @loginProvider.DisplayName account">
                                        @Html.LoginProviderIcon(loginProvider.Name)

                                        @loginProvider.DisplayName
                                    </button>
                                }
                            </div>
                        </form>
                    </section>
                </div>
            }

            @if (Model.AllowLocalLogin)
            {
                <div class="col-md-5 offset-md-2">
                    <section>
                        @Html.Partial("_ValidationSummary")

                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-signin">
                            <div class="form-group">
                                <label asp-for="EmailAddress" class="sr-only">Email address</label>
                                <input type="email" asp-for="EmailAddress" class="form-control" placeholder="Email address"/>
                                <label asp-for="Password" class="sr-only">Password</label>
                                <input type="password" asp-for="Password" class="form-control" placeholder="Password"/>
                            </div>

                            <div class="form-group">
                                <a asp-route="ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl" data-append="#@Html.IdFor(m => m.EmailAddress)">Forgotten your password?</a>
                            </div>

                            <div class="form-group">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe"/>
                                    Remember me?
                                </label>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
                            </div>

                            <div class="form-group">
                                <a asp-route="Register" asp-route-returnUrl="@Model.ReturnUrl" data-append="#@Html.IdFor(m => m.EmailAddress)">Register as a new user</a>
                            </div>
                        </form>
                    </section>
                </div>
            }

            @if (!Model.AllowLocalLogin && !Model.LoginProviders.Any())
            {
                <div class="alert alert-warning">
                    There are no login schemes configured for this client.
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScripts")
}